name: tests
on:
  push:
  pull_request:
    branches:
      # only branches from forks which have the form 'user:branch-name'
      - '**:**'
jobs:
  run_tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: [3.6, 3.7, 3.8, 3.9]
        include:
          - os: macos-latest
            python: 3.8
          - os: windows-latest
            python: 3.8
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python }}
          environment-file: .github/test_conda_env.yml
      - name: print conda environment info
        run: |
          conda info -a
          conda list
      - name: install package
        run: |
          pip install -v --no-deps .
      - name: run test suite
        run: |
          mkdir empty; cd empty
          pytest -v --cov=telewavesim --pyargs telewavesim
          coverage xml -o ../coverage.xml
      - name: upload coverage
        uses: codecov/codecov-action@v1
